<div class="right_col" style="min-height: 100%" role="main">
    <div class="row">


        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Car State
                            <small>Overall Car Condition</small>
                        </h3>
                    </div>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12" style="height:440px">
                    <canvas id="overview-canvas"></canvas>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                    <div class="x_title">
                        <h2>Detailed Car Condition</h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <div>
                            <p>Engine Condition</p>
                            <div class="">
                                <div class="progress progress_md" style="width: 76%;">
                                    <div id="engine-progressbar" class="progress-bar bg-green" role="progressbar"
                                         data-transitiongoal="80" ></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>Chassis Condition</p>
                            <div class="">
                                <div class="progress progress_md" style="width: 76%;">
                                    <div id="chassis-progressbar" class="progress-bar bg-green" role="progressbar"
                                         data-transitiongoal="60"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <div>
                            <p>Brake Condition</p>
                            <div class="">
                                <div class="progress progress_md" style="width: 76%;">
                                    <div id="brake-progressbar" class="progress-bar bg-orange" role="progressbar"
                                         data-transitiongoal="40"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="x_title">
                        <h2>Ranking</h2>
                        <div class="clearfix"></div>
                    </div>
                    <p>Congratulations your car is in better shape than <it>21'039</it> similar cars.</p>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px; margin-bottom: 20px">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>Last Trips
                            <small>Your last trips</small>
                        </h3>
                    </div>
                </div>
                <div class="col-xs-12">
                    <table class="table" id="journeyTable">
                        <tr>
                            <th>Date</th>
                            <th>Engine</th>
                            <th>Brake</th>
                            <th>Chassis</th>
                            <th>Overall</th>
                        </tr>
                    </table>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>

</div>

<script>
    var context = document.getElementById('overview-canvas').getContext('2d');
    context.canvas.width = 1000;
    context.canvas.height = 450;
    ChartPlot.plot(context, "", "Your Vehicle-Status compared to others");

    $(document).ready(function () {
        var table = $("#journeyTable");
        Trips.renderTable(table)
    });

</script>
