<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
</head>
<body>
Haha
<canvas id="skills"></canvas>
<script>
    ChartPlot = new function(){
        these = this

        these.plot = function(canvas, value, title, description){
            var yourValue = value;
            var context = canvas;

            var barChartData = {
                labels: ["", description, ""],
                datasets: [{
                    label: "Your trip",
                    //new option, type will default to bar as that what is used to create the scale
                    type: "line",
                    fillColor: "rgba(240, 0, 184, 1)",//"rgba(220,220,220,0.2)",
                    strokeColor: "rgba(240, 0, 184, 1)",// "rgba(220,220,220,1)",
                    pointColor:"rgba(240, 0, 184, 1)",// "rgba(220,220,220,1)",
                    pointStrokeColor: "rgba(240, 0, 184, 1)",//"rgba(80, 168, 215, 0.69)",//"#fff",
                    pointHighlightFill: "rgba(240, 0, 184, 1)",//"#fff",
                    pointHighlightStroke: "rgba(240, 0, 184, 1)",//"rgba(220,220,220,1)",
                    backgroundColor:"rgba(54, 162, 235, 0.2)",
                    data: [yourValue,yourValue,yourValue]
                }, {
                    label: 'Gentle',
                    backgroundColor: "rgba(161, 255, 66, 1)",
                    data: [0, 22, 0]
                }, {
                    label: 'Average',
                    backgroundColor: "rgba(255, 206, 86, 1)",
                    data: [0, 10, 0]
                }, {
                    label: 'Agressiv',
                    backgroundColor: "rgba(255, 99, 132, 1)",
                    data: [0, 20, 0]
                }]
            };



            var myChart = new Chart.Bar(context, {
                type: 'bar',
                data: barChartData,
                options: {
                    title:{
                        display:true,
                        text: title
                    },
                    tooltips: {
                        mode: 'label'
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    },

                }
            });
        };


    };
</script>
<script>
    var context = document.getElementById('skills').getContext('2d');
    var yourValue = 40;
    ChartPlot.plot(context, yourValue, "RPM Analysis", "Your trip compared to others");

</script>
</body>
</html>