
<canvas id="skills"></canvas>
<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
<script src="/assets/chartPlot.js"></script>
<script>
    var context = document.getElementById('skills').getContext('2d');
    var yourValue = 40;
    ChartPlot.plot(context, yourValue, "RPM Analysis", "Your trip compared to others");

</script>